{% extends "base.html" %}

{% block title %}Trends - News Trend Analyzer{% endblock %}

{% block content %}
<h1>Trending Articles</h1>
<div class="radio-button">
    <label><input type="radio" name="time_range" value="1_day" checked><span class="custom-radio"></span> 1 Day</label>
    <label><input type="radio" name="time_range" value="1_week"><span class="custom-radio"></span> 1 Week</label>
    <label><input type="radio" name="time_range" value="1_month"><span class="custom-radio"></span> 1 Month</label>
</div>

<ul id="trendingArticles"></ul>
<script src="{{ url_for('static', path='scripts/trendNews.js') }}"></script>
{% endblock %}